html {
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
}

body {
    width: 100%;
    height: 100vh;
    background: url("./../img/background.jpg") center, no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    z-index: 999;
}

.nav-item {
    width: max-content;
}

.nav-link:hover {
    border-bottom: 1px solid black;
}

.contenedor {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.container-center {
    position: absolute;
    top: 25%;
}

.titulo {
    text-align: center;
    font-size: 3em;
    margin: 20px;
}

.subtitulo {
    text-align: center;
    font-size: 2em;
    margin: 20px;
    font-style: italic;
    line-height: 50px;
}

.formulario {
    margin: auto;
    background-color: #f3f3f3;
    border: 2px solid black;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 15px;
}

.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    html {
        font-size: 14px;
    }
}